
/* ==========================================================================
   Sidebar Navigation
   ========================================================================== */
   
/*   .topnav{
      background-color: #000000;
      color:#f5f5f5;
   }*/
   .nav-section{
      background-color:#222222;
   }

  .nav li{
      list-style-type:none outside none;
      display:inline-block;
   }

   .nav>li>a:hover,
   .nav>li>a.active,
   .nav>li>a:focus{
      background-color: #ffffff;
   }

   .brand{
      position: absolute;
      top:2px;
      left:0;
      right:0;
      text-align: center;
   }

   .brand-logo{
      color:#ffffff;
      font-size:26px;
      font-weight:400;

   }




