/* ==========================================================================
   Generic Typography
   ========================================================================== */


   h1 a{
      color:inherit;
   }

   h1 a:hover{
      text-decoration: none;
      cursor:pointer;
   }

/* ==========================================================================
   Generic Modules
   ========================================================================== */

   .note{
      font-style:italic;
      color:#666666;
      font-size:11px;
      line-height: 12px;
      margin-top:5px;
   }

   .pagetitle{
      margin-bottom:36px;
   }

   .pagetitle-sub{
      display: block;
      font-size: 0.55em;
      color: #ccc;
      font-weight: normal;
      font-style: italic;
      letter-spacing: -0.05em;
   }


/* ==========================================================================
   box & sections
   ========================================================================== */

   .box{
     background-color:#ffffff;
	  padding:18px;
	  border:1px solid #dddddd;
	  box-shadow:0 1px 1px #dddddd;
	  border-radius: 3px;
	  position:relative;
	  margin:9px auto;
   }

   .focus-box{
	  margin:90px auto;
	  max-width:360px;
	}

   .box-expanded{
      margin:0 auto;
   }

   .section{
      margin:18px 0;
   }

   .section h2{
      margin-top:0;
   }

/* ==========================================================================
   Top Navigation
   ========================================================================== */



/* ==========================================================================
   Footer
   ========================================================================== */

   .footer{
   		background-color:#dddddd;
   		border-top:1px solid #cccccc;
   		padding-top:36px;
         margin-top:36px;
   		font-size:11px;
   }


/* ==========================================================================
   Table
   ========================================================================== */

   table{
      border-spacing:1px;
   }

   /* Fix ugly double bottom border for theadings */
   .table>thead>tr>th {
      border-bottom: 1px solid #dddddd;
   }

   .buttoncell{
      text-align: right;
   }

   .label-cell{
      text-align:left;
      color:#999999;
      font-style:italic;
   }

   .table-xs{
      font-size:12px;
   }


/* ==========================================================================
   Form
   ========================================================================== */

   .form-group,.form-innergroup{
      margin-bottom:6px;
   }

   .form-group input,
   .form-group select,
   .form-group textarea{
      margin-bottom:6px;
   }

   .input-xs{
      height:22px;
      line-height: 22px;
      font-size:12px;
      padding:1px 3px;
   }

   .input-group-btn button{
      padding-bottom:7px;
   }

   /* Subtle focus */
   .form-control:focus{
      outline: none;
      outline-color: transparent;
      outline-style: none;
      box-shadow: none;
      border-color:#aaaaaa;
   }


/* ==========================================================================
   Buttons
   ========================================================================== */


/* ==========================================================================
   Labels
   ========================================================================== */


   .label{
      border-radius: 50px;
   }

   .label-dot{
      height:8px;
      width:8px;
      display:inline-block;
      padding:0;
   }

   .tooltip-trigger{
      cursor:pointer;
   }


/* ==========================================================================
   Module: GALLERY
   ========================================================================== */
   
   .gallery-item{
     float:left;
     width:23%;
     margin:1%;
     text-align: center;
   }

   .gallery-item .caption{
     color:#666666;
     font-style:italic;
     font-size:10px;
     width:100%;
     text-align: center;
   }

   .gallery-item-description{
      color:#999999;
   }

   .thumbnail{
     width:72px;
     height:72px;
     border:0;
     margin:0 auto;
   }

/* ==========================================================================
   Module: MEDIUM LISTING
   ========================================================================== */

   .medium-row{
      margin-bottom:18px;
   }

   .medium-row .thumbnail{
      margin:0;
      float:left;
   }

   .medium-content{
      margin-left:90px;
   }

   .medium-name{
      font-weight: bold;
   }

   .medium-description{
      color:#999999;
      font-size:10px;
   }

   .medium-access{
      display:none; /* default no display */
   }


/* ==========================================================================
   GENERAL MODES
   ========================================================================== */

   .clearfix:before,
   .clearfix:after {
       content: " "; 
       display: table;
   }

   .clearfix:after {
       clear: both;
   }

   .clearfix {
       *zoom: 1;
   }

   .right{
      float:right;
   }

   .left{
      float:left;
   }