/* ==========================================================================
   Generic Typography
   ========================================================================== */


   h1 a{
      color:inherit;
   }

   h1 a:hover{
      text-decoration: none;
      cursor:pointer;
   }

   h4{
      font-style:italic;
      font-weight: normal;
      margin-top:36px;
      color:#666666;
   }

/* ==========================================================================
   Generic Modules
   ========================================================================== */

   .note{
      font-style:italic;
      color:#666666;
      font-size:11px;
      line-height: 12px;
      margin-top:5px;
   }

   .pagetitle{
      margin:36px 0;
   }

   .pagetitle-sub{
      display: block;
      font-size: 0.55em;
      color: #ccc;
      font-weight: normal;
      font-style: italic;
      letter-spacing: -0.05em;
   }


/* ==========================================================================
   box & sections
   ========================================================================== */

   .box{
     background-color:#ffffff;
	  padding:18px;
	  border:1px solid #dddddd;
	  box-shadow:0 1px 1px #dddddd;
	  border-radius: 3px;
	  position:relative;
	  margin:9px auto;
   }

   .focus-box{
	  margin:90px auto;
	  max-width:360px;
	}

   .box-expanded{
      margin:0 auto;
   }

   .section{
      margin:18px 0;
   }

   .section h2{
      margin-top:0;
   }

/* ==========================================================================
   Sidebar Navigation
   ========================================================================== */
   
/*   .topnav{
      background-color: #000000;
      color:#f5f5f5;
   }*/
   .nav-section{
      background-color:#222222;
   }

  .nav li{
      list-style-type:none outside none;
      display:inline-block;
   }

   .nav>li>a:hover,
   .nav>li>a.active,
   .nav>li>a:focus{
      background-color: #ffffff;
   }

   .brand{
      position: absolute;
      top:2px;
      left:0;
      right:0;
      text-align: center;
   }

   .brand-logo{
      color:#ffffff;
      font-size:26px;
      font-weight:400;

   }

   .main{
      margin-top:36px;
   }

   .sidebar{
      
   }


/* ==========================================================================
   Module: Actionline
   ========================================================================== */

   .actionline{
      font-size:16px;
   }

/* ==========================================================================
   Post
   ========================================================================== */

   .post{
      margin-bottom:36px;
   }

   .teaser{
      color:#999999;
      font-size:0.9em;
   }

   .post-title{
      margin-bottom: 0;
   }

   .post-subtitle{
      font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
      letter-spacing: .01rem;
      font-weight: 400;
      font-style: italic;
      font-size: 20px;
      line-height: 1.1;
      color:#999999;
   }

   .post-metadata{
      font-style:italic;
      color:#333333;
      font-size:0.9em;
   }

   .post-divider{
      width:180px;
      height:1px;
      display:block;
      margin:18px auto;
      background-color: #dddddd;
      border:0;
      border-bottom:1px solid #f5f5f5;
      border-radius:50%;
      outline:0;
   }

/* ==========================================================================
   Post form elements
   ========================================================================== */

   .form-control-post{
      border:0;
      outline:0;
      padding:9px;
      padding-bottom:0; /* realistic writing line */
      width: 100%;
   }

   .post-txtr{
      font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
      letter-spacing: .01rem;
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
      line-height: 1.4;
   }


/* ==========================================================================
   Commnet
   ========================================================================== */

   .comment{
      padding:9px 0;
      border-bottom:1px solid #dddddd;
   }

   .comment-title{
      font-weight: bold;
   }

/* ==========================================================================
   User cards
   ========================================================================== */

   .user-cards{
      width:100%;
      clear:both;
   }

   .user-card{
      width:32%;
      float:left;
      margin-right:1%;
      margin-bottom: 1%;
      border:1px solid #dddddd;
      border-radius: 3px;
      padding:6px;
   }


/* ==========================================================================
   Footer
   ========================================================================== */

   .footer{
   		background-color:#dddddd;
   		border-top:1px solid #cccccc;
   		padding-top:36px;
         margin-top:36px;
   		font-size:11px;
   }


/* ==========================================================================
   Table
   ========================================================================== */

   table{
      border-spacing:1px;
   }

   /* Fix ugly double bottom border for theadings */
   .table>thead>tr>th {
      border-bottom: 1px solid #dddddd;
   }

   .buttoncell{
      text-align: right;
   }

   .label-cell{
      text-align:left;
      color:#999999;
      font-style:italic;
   }

   .table-xs{
      font-size:12px;
   }


/* ==========================================================================
   Form
   ========================================================================== */

   .form-group,.form-innergroup{
      margin-bottom:6px;
   }

   .form-group input,
   .form-group select,
   .form-group textarea{
      margin-bottom:6px;
   }

   .input-xs{
      height:22px;
      line-height: 22px;
      font-size:12px;
      padding:1px 3px;
   }

   .input-group-btn button{
      padding-bottom:7px;
   }

   /* Subtle focus */
   .form-control:focus{
      outline: none;
      outline-color: transparent;
      outline-style: none;
      box-shadow: none;
      border-color:#aaaaaa;
   }


/* ==========================================================================
   Buttons, labels, messages
   ========================================================================== */

   .btn:active, .btn.active{
      -webkit-box-shadow:none;
      box-shadow: none;
   }

   .label{
      border-radius: 50px;
   }

   .label-dot{
      height:8px;
      width:8px;
      display:inline-block;
      padding:0;
   }

   .tooltip-trigger{
      cursor:pointer;
   }

   h3 .label-dot{
      line-height: 0.7; /* better vertical alignment in header */
   }

   .btn-standalone{
      margin-bottom:9px;
   }

   .messages-error{
      list-style: none outside none;
      padding-left: 0;
   }
   
/* ==========================================================================
   Module: GALLERY
   ========================================================================== */
   
   .gallery-item{
     float:left;
     width:23%;
     margin:1%;
     text-align: center;
   }

   .gallery-item .caption{
     color:#666666;
     font-style:italic;
     font-size:10px;
     width:100%;
     text-align: center;
   }

   .gallery-item-description{
      color:#999999;
   }

   .thumbnail{
     width:72px;
     height:72px;
     border:0;
     margin:0 auto;
   }

/* ==========================================================================
   Module: MEDIUM LISTING
   ========================================================================== */

   .medium-row{
      margin-bottom:18px;
   }

   .medium-row .thumbnail{
      margin:0;
      float:left;
   }

   .medium-content{
      margin-left:90px;
   }

   .medium-name{
      font-weight: bold;
   }

   .medium-description{
      color:#999999;
      font-size:10px;
   }

   .medium-access{
      display:none; /* default no display */
   }


/* ==========================================================================
   GENERAL MODES
   ========================================================================== */

   .clearfix:before,
   .clearfix:after {
       content: " "; 
       display: table;
   }

   .clearfix:after {
       clear: both;
   }

   .clearfix {
       *zoom: 1;
   }

   .right{
      float:right;
   }

   .left{
      float:left;
   }

   .center{
      margin-left:auto;
      margin-right:auto;
   }